body {
    margin: 30px;
}

h1 {
    text-align: center;
}

#container {
    column-count: 2;
    column-gap: 15px;
}

#container .item:nth-last-child(-n+3) {
    display: none;
    /* nascondo per migliorare la visibilità del layout gli ultimi 3 elementi e li "scopro" solo su layout xl */
}

.item {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

@media (min-width: 576px) {
    #container {
        column-gap: 25px;
    }

    .item {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    #container {
        column-count: 3;
    }
}

@media (min-width: 1200px) {

    #container {
        column-count: 4;
    }

    #container .item:nth-last-child(-n+3) {
        /* scopro gli elementi */
        display: inline-block;
    }
}